<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>Bu bosh sahifa</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam voluptas veritatis sequi, distinctio repudiandae consectetur, quod explicabo iure ut a, placeat ullam deleniti eius eligendi numquam! Nulla officia deleniti voluptatum.</p>

    {% endblock content %}
    
</body>
</html>